.card {
  /* todo: better colors */
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 1px 3px gray;
  transition: transform 0.75s, opacity 1s;
  transform-style: preserve-3d;
  display: flex;
}

.card.card--isRevealed {
  transform: rotateY(180deg);
}

.card__back, .card__front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.card__back {
  cursor: pointer;
}

.card--isMatched .card__back {
  /* unsets pointer for disabled cards */
  cursor: initial;
}

.card__front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.card__back > svg {
  height: 100%;
  width: auto;
  color: red;
}

.card__symbol {
  font-size: 85px;
  line-height: 0;
}

.card--isMatched {
  opacity: 0;
}