.card {
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: -1px 1px 5px -1px #ce0013;
  transition: transform 0.75s, opacity 0.75s;
  transform-style: preserve-3d;
  display: flex;
  background: white;
}

.card:not(.card--isRevealed) {
  transform: rotateY(180deg);
}
.card.card--isMatched {
  opacity: 0;
}

.card__back, .card__front {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.card__back {
  cursor: pointer;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--isMatched .card__back {
  /* unsets pointer for disabled cards */
  cursor: initial;
}

.card__front {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.card__back > svg {
  height: 75%;
  width: auto;
  color: #ce0013;
}

.card__symbol {
  font-size: 85px;
  line-height: 0;
}